<a href="https://colab.research.google.com/github/kirankumareranki/AIML-2025/blob/main/StudentPerf_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Predict Student Performance at High School using Portegese High School Dataset Applying Classifer Model

In [1]:
pip install ucimlrepo

Collecting ucimlrepo
  Downloading ucimlrepo-0.0.7-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from ucimlrepo) (2.2.2)
Requirement already satisfied: certifi>=2020.12.5 in /usr/local/lib/python3.10/dist-packages (from ucimlrepo) (2024.8.30)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.0.0->ucimlrepo) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.16.0)
Downloading ucimlrepo-0.0.7-py3-none-any.whl (8.0 kB)
Installing collected packages: ucimlrepo
Successfully installed ucimlrepo-0.0.7

In [3]:
from ucimlrepo import fetch_ucirepo

# fetch dataset
student_perf = fetch_ucirepo(id=320)

# data (as pandas dataframes)
X = student_performance.data.features
y = student_performance.data.targets

In [4]:
student_perf.keys()

dict_keys(['data', 'metadata', 'variables'])

In [8]:
student_perf.data.features.columns
student_perf.data.targets.columns

Index(['G1', 'G2', 'G3'], dtype='object')

In [11]:
print(f" Top 5 reasons for school dropouts:\n{student_perf.data.features.sort_values(by='school', ascending=False)}")

 Top 5 reasons for school dropouts:
    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
648     MS   M   18       R     LE3       T     3     2  services     other
478     MS   F   16       R     GT3       T     1     1   at_home     other
505     MS   F   17       R     GT3       T     1     1   at_home     other
504     MS   F   19       U     LE3       T     2     2     other     other
503     MS   F   16       U     GT3       T     1     1     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
218     GP   F   16       R     GT3       T     2     2  services  services
219     GP   F   17       U     GT3       T     3     4   at_home  services
220     GP   F   16       U     GT3       A     3     1  services     other
221     GP   F   16       U     GT3       T     4     3   teacher     other
324     GP   M   18       U     GT3       T     1     2   at_home     other

     ... higher internet  romantic  famrel  freetime goout Dalc Walc health  \
648  ...    yes      yes        no       4         4     1    3    4      5
478  ...    yes       no        no       3         4     3    1    1      1
505  ...    yes      yes       yes       4         4     5    1    2      5
504  ...    yes      yes       yes       5         4     5    1    1      1
503  ...    yes      yes        no       2         2     1    1    1      5
..   ...    ...      ...       ...     ...       ...   ...  ...  ...    ...
218  ...    yes      yes        no       5         3     5    1    1      5
219  ...    yes      yes       yes       4         4     3    3    4      5
220  ...    yes      yes        no       2         3     3    2    2      4
221  ...    yes      yes       yes       1         3     2    1    1      1
324  ...     no      yes        no       3         4     4    2    4      4

    absences
648        4
478        0
505        0
504        0
503        0
..       ...
218        6
219       14
220        2
221        4
324       10

[649 rows x 30 columns]

In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [22]:
student_perf.data.features['age'].head()

0    18
1    17
2    15
3    15
4    16
Name: age, dtype: int64

In [24]:
print(f"Maximum Age Group of Students\n{np.max(student_perf.data.features['age'])}")
print(f"Minimum Age Group of Students\n{np.min(student_perf.data.features['age'])}")
print(f"Mean Age Group of Students\n{np.mean(student_perf.data.features['age'])}")
print(f"Median Age Group of Students\n{np.median(student_perf.data.features['age'])}")

Maximum Age Group of Students
22
Minimum Age Group of Students
15
Mean Age Group of Students
16.7442218798151
Median Age Group of Students
17.0